<%-include ("header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=" stylesheet" href="/main/style.css"/>
   
</head>
<body>
    
<div class=" container">

</div>

<div class="d-flex flex-column justify-content-center w-100 h-100">

	
        
        <div class="blog">
            <h1 class="blogging">White Chicken Chili with Tots: An Essay</h1>
            <img class="float" src="https://pinchofyum.com/cdn-cgi/image/width=680,height=99999,fit=scale-down/wp-content/uploads/White-Chicken-Chili-7.jpg" alt="test" height="130px" width="150px"/>
            <p>You need to be putting tator tots on your white chicken chili. That is the beginning and the end of this persuasive essay.

                White chicken chili is already a top ten food for me, and this one is weeknight easy, just a little spicy, extra creamy, and uncluttered.
                
                But when you take the chicken, white beans, green chiles and cumin and oregano wrapped in a blanket of creamy soup and level it up with the crispity golden bite of a perfectly seasoned tot? Oof. Wow. This is peak winter food.
                
                I’ve always been extremely loyal to Sarah’s White Chicken Chili – it’s one of my favorite soups and one that many of you have told me has won you all kinds of awards at chili cookoffs. So the bar is high for white chicken chili here on POY.
                
                But this new white chicken chili has earned its place on the site.  That’s my thesis. The end!</p>
                <div class="steps">
            
        	<h2>How To Make This Chicken Chili</h2>
            <h4>1.Cook the onions and garlic.</h4>
            <p>Sauté until they’re nice and golden. The house smells yummy already.</p>
           
            
            
            <h4>2.Add the spices and green chiles.</h4>
            <p>Flavor, flavor! Let’s get it going.</p>
            
        
            <h4>3.Add everything else.</h4>
            <p>Chicken, beans, broth, sour cream, cream, and that little cornstarch slurry! Everybody in the pan to make it nice and creamy and delicious.</p>
            
        
            <h4>4.Simmer till it’s thickened.</h4>
            <p>Behold the creaminess. It’s next level.</p>
            
            
            <h4>5.You’re Done! Yum.</h4>
            <p>Top with tots, cilantro and green onion, and hot sauce. A true hungry person masterpiece.</p>
           
        
            
        </div>
	</div>

    
</div>
</div>
</body>
  

</html>
