<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasta</title>
    <link rel=" stylesheet" href="/main/style.css"/>
</head>
<body>

<div class="pasta">
    <h1 id="pastaheading">Check below for pasta</h1>
    <div class="pastatype">
   
    <h3>White Wine Pasta with Mushrooms and Leeks</h3>
    <img src="https://www.foodandwine.com/thmb/4WrZB4S1IRkkd0xeOyIQqFHbA_M=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/One-Pot-White-Wine-Pasta-FT-RECIPE0520-2000-62ae3b2c117d4368b72ae9858737d96d.jpg " alt = "img2" height=" 300px" width="600px"/>
    <p>This creamy, savory pasta dish comes together in just one pot, no need to boil the pasta separately. A combination of savory sautéed mushrooms and gently sweet leeks combine with cream, lemon juice, and white wine to create the rich sauce. Feel free to switch up the flavor by adding tarragon instead of dill.</p>
</div>

    <div class="pastatype">
    <h3>Pasta with Roasted Cauliflower and Crispy Capers</h3>
    <img src="https://www.foodandwine.com/thmb/VmfX92CVxAaVIhpOcNfXwkodnsY=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/cauliflower-pasta-recipe-FT-BLOG1019-a4d7d6c35cb8429d9aaeaee81a3a87de.jpg" alt="sand" height="300px" width="600px"/>
    <p>For a crowd-pleaser at any party, I combine sheet pan–roasted cauliflower with pasta along with some crispy capers for salty crunch; anchovies (just a few) for umami depth; sautéed garlic and red pepper flakes for oomph, and lemon zest for brightness," Colu Henry writes. "This recipe calls for the standard white cauliflower, but if you happen to see the purple or orange 'cheddar' variety, by all means grab them for presentation's sake.</p>
</div>
<div class="pastatype">
    
    <h3>Pulling-from-the-Pantry Puttanesca</h3>
    <img src="https://www.foodandwine.com/thmb/7l-DcWs6cQFAWDS5XFOcuhTscDM=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Pulling-from-the-Pantry-Puttanesca-FT-recipe0719_0-3a21d6b0d5b44148a23908a309901009.jpg" alt="img3" height="300px" width="600px"/>
    <p>Chef Zoi Antonitsas is passionate about preserved fish. The salty, briny fillets are her favorite powerhouse pantry ingredient. They can make almost anything into a meal—and a delicious one at that. Use high-quality tins, like Matiz España brand, for the best results.</p>
</div>



</div>
    
</body>
</html>