<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>
    <link rel=" stylesheet" href="/main/style.css"/>
</head>
<body>

<div class="Pizza">
    <h1 id="Pizzaheading">Check below for Pizza</h1>
    <div class="Pizzatype">
   
    <h3>Garlic Bread Pizza</h3>
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2023-07/18/18/asset/15aa880dc6b8/sub-buzz-2666-1689706102-15.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto" alt="sand" height="300px" width="600px"/>
    <p>Pizza night couldn’t get any easier than these deliciously loaded garlic bread pizza slices. They're also totally customizable to whatever each person's preference for toppings may be. So there's no need to fight over olives or no olives! </p>
</div>

    <div class="Pizzatype">
    <h3>Chicken Alfredo Pizza</h3>
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2022-11/8/21/asset/035d05d0507d/sub-buzz-608-1667944711-10.jpg?downsize=900:*&output-format=auto&output-quality=auto" alt="sand" height="300px" width="600px"/>
    <p>Every kid's favorite pasta dish is pizza. Yeah, this one's a winner. Commenters recommend taking it to the next level by adding bacon. </p>
</div>
<div class="Pizzatype">
    
    <h3>Pulling-from-the-Pantry Puttanesca</h3>
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2021-04/29/1/asset/9c8276c1d570/sub-buzz-750-1619660181-10.jpg?downsize=900:*&output-format=auto&output-quality=auto" alt="img3" height="300px" width="600px"/>
    <p>Chef Zoi Antonitsas is passionate about preserved fish. The salty, briny fillets are her favorite powerhouse pantry ingredient. They can make almost anything into a meal—and a delicious one at that. Use high-quality tins, like Matiz España brand, for the best results.</p>
</div>



</div>
    
</body>
</html>