<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salad</title>
    <link rel=" stylesheet" href="/main/style.css"/>
</head>
<body>

<div class="salad">
    <h1 id="saladheading">Check below for Pizza</h1>
    <div class="Pizzatype">
   
    <h3>Loaded Broccoli Salad</h3>
    <img src="https://www.eatingwell.com/thmb/INhtzdXwZTovnvsnkpdFSRSGXmU=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/loaded-broccoli-salad-7a6b813b3f134086bc80ca22d5ea00b2.jpg" alt="sand" height="300px" width="600px"/>
    <p>This is the broccoli salad you will get special requests for. The combination of bacon, sour cream, mayonnaise, scallions and Cheddar is hard to resist. And the addition of rice vinegar or cider vinegar sharpens all the flavors.

    </p>
</div>

    <div class="saladtype">
    <h3>Cucumber Vinegar Salad</h3>
    <img src="https://www.eatingwell.com/thmb/7U3mL0LRJqTYTW4hsCkbCebQsY4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/cucumber-vinegar-salad-bb9dbc2435374efb906353dfff2bfe7d.jpg" alt="sand" height="300px" width="600px"/>
    <p>This cucumber vinegar salad has the perfect balance between sweet and sour flavors, plus a hint of fresh dill. The red onion adds nice crunch. Enjoy this salad right after you're done making it or store it away to snack on for later. </p>
</div>
<div class="saladtype">
    
    <h3>Simple Cabbage Salad</h3>
    <img src="https://www.eatingwell.com/thmb/AMLrX2_9V8mdOu5WY_iW_iT_ry4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/simple-cabbage-salad-75eba94289e6460ab22bd8362ff34567.jpg" alt="img3" height="300px" width="600px"/>
    <p>Cabbage maintains a nice crunch when it's tossed with an easy dressing in this simple cabbage salad recipe. This easy salad is perfect for fall when cabbage is at its sweetest.</p>
</div>



</div>
    
</body>
</html>