<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandwiches</title>
    <link rel=" stylesheet" href="/main/style.css"/>
</head>
<body>

<div class="Sandwiches">
    <h1 id="sandwichesheading">Check below for Sandwiches</h1>
    <div class="Sandwichestype">
   
    <h3>Caprese</h3>
    <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2010/8/30/1/FNM_100110-Insert-010_s4x3.jpg.rend.hgtvcom.791.594.suffix/1371593533734.jpeg " alt = "img2" height=" 300px" width="600px"/>
    <p>Brush the inside of a split sub roll or sliced Italian bread with olive oil. Fill with 2 slices each fresh mozzarella and tomato, and a few basil leaves; season with salt and pepper. Press and cook until golden.</p>
</div>

    <div class="Sandwichestype">
    <h3>Classic Sandwiches with a Twist</h3>
    <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2014/6/13/0/FN_Opener-Sandwich-King-Creations_s4x3.jpg.rend.hgtvcom.791.594.suffix/1405363314434.jpeg" alt="sand" height="300px" width="600px"/>
    <p>From grilled cheese to PB and J, Sandwich King Jeff Mauro has proven himself the master of reinvention with his surprising new takes on classic sandwiches. Here are some of his most-popular creations.</p>
</div>
<div class="Sandwichestype">
    
    <h3>Open-Faced Roasted Tomato</h3>
    <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/6/10/0/FNM_070113-Open-Faced-Roasted-Tomato-BLTs-Recipe_s4x3.jpg.rend.hgtvcom.791.594.suffix/1382543299280.jpeg" alt="img3" height="300px" width="600px"/>
    <p>Slow-roasting the tomatoes takes some extra time, but the step is totally worth it; it concentrates the tomato flavor.</p>
</div>



</div>
    
</body>
</html>