<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seafood</title>
    <link rel=" stylesheet" href="/main/style.css"/>
</head>
<body>

<div class="seafood">
    <h1 id="seafoodheading">Check below for Seafood</h1>
    <div class="seafoodtype">
   
    <h3>Sauvignon Blanc-Steamed Mussels with Garlic Toast</h3>
    <img src="https://www.foodandwine.com/thmb/8Ed6boP0Ucf038KNDudtL0_aYhM=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Sauvignon-Blanc-Steamed-Mussels-Garlic-Toasts-FT-RECIPE0822-2000-381984da6639497ca8da2339a727486d.jpg" alt="sand" height="300px" width="600px"/>
    <p>Add this steamed mussels recipe — inspired by the ubiquitous specialty in Belgium — to your repertoire of elegant, flavor-forward dishes that are table-ready in a flash. </p>
</div>

    <div class="seafoodtype">
    <h3>Roasted Branzino with Caper Butter</h3>
    <img src="https://www.foodandwine.com/thmb/oE89l-Dj2CcjFHvvMSEhZbx94Wg=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Roasted-Branzino-with-Caper-Butter-FT-BLOG0522-f1d2116430c0420c821cbd8f95c4aa77.jpg" alt="sand" height="300px" width="600px"/>
    <p>Whole branzino roasted with lemon and rosemary is a foolproof way to ensure flavorful, perfectly cooked fish. Steve Corry takes the dish over the top with a caper compound butter. </p>
</div>
<div class="seafoodtype">
    
    <h3>Crispy Crab Cakes with Tomato Butter</h3>
    <img src="https://www.foodandwine.com/thmb/K_RqDtL-61c2t8H0MxDMRgr7NsQ=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Crispy-Crab-Cakes-with-Tomato-Butter-FT-recipe0719_1-ae6eb5920a274997a44718ebb380a686.jpg" alt="img3" height="300px" width="600px"/>
    <p>The late chef Patrick Clark's crab cakes at Tavern on the Green were legendary, taking on a pop of flavor from chopped fresh jalapeño and a crispy exterior from panko.</p>
</div>



</div>
    
</body>
</html>